<header>
    <h1>CRUDcroustillant</h1>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('burgers_list') }}">Nos Burgers</a></li>
            <li><a href="{{ path('pains_list') }}">Pains</a></li>
            <li><a href="{{ path('viandes_list') }}">Viandes</a></li>
            <li><a href="{{ path('garnitures_list') }}">Garnitures</a></li>
            <li><a href="{{ path('sauces_list') }}">Sauces</a></li>
            <li><a href="{{ path('images_list') }}">Images</a></li>
            <li><a href="{{ path('commentaires_list') }}">Commentaires</a></li>
        </ul>
    </nav>
</header>