<header>
    <h1>CRUDcroustillant</h1>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('burgers_list') }}">Nos Burgers</a></li>
            <li><a href="{{ path('pains_list') }}">Pains</a></li>
            <li><a href="{{ path('viandes_list') }}">Viandes</a></li>
            <li><a href="{{ path('poulets_list') }}">Poulets</a></li>
            <li><a href="{{ path('fromages_list') }}">Fromages</a></li>
            <li><a href="{{ path('salades_list') }}">Salades</a></li>
            <li><a href="{{ path('tomates_list') }}">Tomates</a></li>
            <li><a href="{{ path('oignons_list') }}">Oignons</a></li>
            <li><a href="{{ path('cornichons_list') }}">Cornichons</a></li>
            <li><a href="{{ path('bacons_list') }}">Bacons</a></li>
            <li><a href="{{ path('poissons_list') }}">Poissons</a></li>
            <li><a href="{{ path('oeufs_list') }}">Œufs</a></li>
            <li><a href="{{ path('sauces_list') }}">Sauces</a></li>
            <li><a href="{{ path('images_list') }}">Images</a></li>
            <li><a href="{{ path('commentaires_list') }}">Commentaires</a></li>
        </ul>
    </nav>
</header>