{% extends 'base.html.twig' %}

{% block title %}Burger {{ burger.nom }}{% endblock %}

{% block body %}
    <h1>{{ burger.nom }}</h1>
    <p><strong>Description :</strong> {{ burger.description }}</p>
    <p><strong>Prix :</strong> {{ burger.prix }} €</p>

    <p>Vous regardez les détails du burger ID : {{ id }}</p>
    <a href="{{ path('burgers_list') }}">← Retour à la liste</a>
{% endblock %}
